@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 44, 41, 35;
  --background-start-rgb: 247, 246, 244;
  --background-end-rgb: 247, 246, 244;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
